html {
    font-size: 62.5%;
}

body {
    padding-top: 50px;
    color: #5a5a5a;
    background-color: #333538;
}

.mid-header {
    margin: 4rem 0;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}

.content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
}

.navbar-default {
  background-color: #1b1c2a;
  border-color: #1b1c2a;
}
.navbar-default .navbar-brand {
  color: #707180;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #77ffe9;
}
.navbar-default .navbar-text {
  color: #707180;
}
.navbar-default .navbar-nav > li > a {
  color: #707180;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #77ffe9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #77ffe9;
  background-color: #1b1c2a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #77ffe9;
  background-color: #1b1c2a;
}
.navbar-default .navbar-toggle {
  border-color: #1b1c2a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1b1c2a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #707180;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #707180;
}
.navbar-default .navbar-link {
  color: #707180;
}
.navbar-default .navbar-link:hover {
  color: #77ffe9;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #707180;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #77ffe9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #77ffe9;
    background-color: #1b1c2a;
  }
}


.carousel {
    height: 38rem;
}

.carousel .item {
    height: 38rem;
    background-color: #000;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption p {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1.8;
}

#search-bar input {
    width: 25rem;
}

.tab-content .container-fluid .row {
    margin: 0;
}

.video-module {
    margin-top: 2rem;
}

.list-box {}

.triangel {}

.triangel img {
    width: 100%;
}

.icon-header {
    border: 0.1rem solid #ccc;
}

.icon-header .img-box {
    margin: 2rem auto;
    height: 4rem;
    width: 14rem;
}

.icon-header .img-box img {
    width: 100%;
    height: 100%;
}

.video-list {
    border: 0.1rem solid #ccc;
    padding-top: 1rem;
}

.video-list ul {
    padding: 0;
}

.video-list ul li {
    padding: 0 0.7rem;
}

.video-item {
    margin-bottom: 1.2rem;
}

.video-item img {
    width: 100%;
}

.update-status {
    line-height: 1rem;
    margin-top: -2rem;
    padding-left: 1rem;
    color: #fff;
}

.item-bottom {
    margin-top: 1.3rem;
}

.item-bottom a {
    text-decoration: none;
    color: #000;
}

.item-bottom a:hover {
    color: #09F;
}

.item-bottom a * {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-bottom .video-name {
    margin: 0 auto;
}

.item-bottom .sub-title {
    font-size: 1.2rem;
    margin: 0.3rem auto 0;
    color: #999;
}

hr.feature-divider {
        margin: 4rem 0;
      }

#summray {
    margin: 5rem auto;
}

.feature-heading {
    font-size: 5rem;
    color: #2a6496;
}

.feature-heading .text-muted {
    font-size: 2.8rem;
}

footer {
    margin-top: 4rem;
    height: 20rem;
    background-color: #EEE;
}

footer .friend-link {
    margin: 5rem auto;
}
